In [3]:
import pandas as pd
import numpy as np
from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

#### Path to the data
Event_Results = pd.read_csv(f"{path_Olympic_Athlete_EventResults}.csv", sep = ",")
Olympic_Results = pd.read_csv(f"{path_Olympic_OlympicResults}.csv", sep = ",")
Olympics_Results = pd.read_csv(f"{path_Olympic_OlympicsCountry}.csv", sep = ",")
Olympic_games = pd.read_csv(f"{path_Olympic_OlympicGames}.csv", sep = ",")

In [ ]:
path_Olympic_OlympicsCountry ="Data\Olympic_Athlete_BIO\Olympic_Country"
path_Olympic_OlympicGames ="Data\Olympic_Athlete_BIO\Olympic_Games"

## Data Exploration

### Athlete Bio Data

##### Primary Key => athleteID

In [ ]:
path_Olympic_Athlete_BIO ="Data\Olympic_Athlete_BIO.csv"
Athlete_Bio = pd.read_csv(path_Olympic_Athlete_BIO, sep = ",")
Athlete_Bio.head()

In [ ]:
# Drop Description and Special Notes as they will not be necessary
AB = Athlete_Bio.drop(columns = ['description','special_notes'])
AB.head()

#### Null values

In [ ]:
AB.info()

#### Duplicate values

In [ ]:
AB.shape

In [ ]:
AB['name'].unique().shape

As we can see in the above count of the rows, there is a difference in the count, which may suggest that there may be duplicate names in the data. This however may not be the case as the athlete id has distinct values.

#### QS: Do we drop the duplicate name values?

#### Not available as value, Height and Weight

In [ ]:
not_availableAB = AB.loc[np.logical_and(AB['height'] == 'na', AB['weight'] == 'na')]
not_availableAB

The data has 50547 not available number for weight and height. This shows that a third of the data is missing for the height and weight.
Due to lack of a business case, we still  have to estimate the necessity of these two columns.


There is no need to look for an outlier as this data represents the BIO of a player, outliers cannot take effect in this data.
Medals per country per sport per per addition of olympics per athleter per gender

### Athlete Event Results

##### Primary Key => editionID

In [ ]:
path_Olympic_Athlete_EventResults ="Data\Olympic_Athlete_Event_Results.csv"

In [ ]:
AER = pd.read_csv(path_Olympic_Athlete_EventResults, sep = ",")
AER.head()

In [ ]:
AER.shape

### Null values or Not available data

In [ ]:
AER.info()

In [ ]:
column_vals_AER = AER.columns
column_vals_AER

##### Medal column

In [ ]:
AER.loc[AER['medal'] == 'na'].shape

In [ ]:
column = pd.unique(AER['medal'])
column

In [ ]:
AER["medal"].value_counts()

In [ ]:
sizes = [270336,15027, 14904, 14640]
labels = ['na', 'Bronze', 'Silver', 'Gold']
myexplode = [0.2, 0, 0, 0]
plt.figure(figsize = (6, 6))
plt.pie(sizes, labels = labels, autopct='%.2f%%',explode=(0.1, 0, 0, 0),
        colors=['#D3B9DF','#90DAE0','#33FFA7', '#2451E0'])
plt.show()

As we can see above, the medal column has an approx. of 86 % data as not available. Accordint to the above diagram, it is safe to say that the largest chunk can be attributed to the people who did not win a medal. The NA values in this case are relevant.

### Data variance

#### Pos column

In [ ]:
AER.tail()

In [ ]:
#[print(i) for i in AER['pos'].unique()]

In [ ]:
Image(filename= "Images/Olympics_pic.jpeg", width =600, height = 600)

##### The pos column is a bit strange as I cannot interprate the results. => DNS => Did not start.

### Olympic Results

The result table is used to keep track of who won, what sport and in which location

##### Primary Key => resultID

In [ ]:
path_Olympic_OlympicResults ="Data\Olympic_Results.csv"

In [ ]:
OR = pd.read_csv(path_Olympic_OlympicResults, sep =",")
OR.head()

In the above dataset, I would suggest dropping any columns that are not necessary in building a business case. These are:
    sport_url, result_participants, result_format, result_description,

In [ ]:
OR["event_title"].unique().shape

Seeing that there are more that 1555 event titles, I would consider dropping this column too as a I dont see any

In [ ]:
ORmod = OR.drop(columns = ['sport_url', 'result_participants', 'result_format', 'result_description', 'event_title'])
ORmod.head()
## OR modified

Here above shoud be IMO the final dataset for the olympic results.

##### Unavailable data
StartDate, EndDate and Time

In [ ]:
naOR = ORmod.loc[np.logical_and(ORmod.start_date == "na", ORmod.end_date == "na", ORmod.time == "na")]
naOR.head()